.vc_row{
    &.wpb_row, .wpb_content_element{
        margin: 0;
    }
    h1,h2,h3,h4,h5,h6{
        font-family: 'Orbitron-Regular', sans-serif;
        margin-bottom: 28px;
    }
    h2{
        font-size: 34px;
    }
    h3{
        font-size:26px;
    }
    .wpb_button{
        margin-top: 20px !important;
        padding: 0 20px 0 5px;
        height: 39px;
        line-height: 39px;
        white-space: nowrap;
        i{
            width:29px; height:29px;
            background: url(images/icons/icon-sprite.png) no-repeat -571px -38px;
            vertical-align: middle;
            margin-right: 8px;
        }
        &.wpb_btn-dark-grey{
            color:#2d4243;
            i {
                background-position: -474px -123px;
            }
        }
        &.wpb_btn-grey{
            color:#2b544e;
            i {
                background-position: -516px -123px;
            }
        }
        &.wpb_btn-dark-blue{
            color:#455576;
            i {
                background-position: -556px -123px;
            }
        }
        &.contact-person{
            i{
                background-position: -573px 1px;
            }
            &.wpb_btn-dark-grey{
                color:#2d4243;
                i {
                    background-position: -473px -85px;
                }
            }
            &.wpb_btn-grey{
                color:#2b544e;
                i {
                    background-position: -513px -85px;
                }
            }
            &.wpb_btn-dark-blue{
                color:#455576;
                i {
                    background-position: -552px -85px;
                }
            }
            &:hover{
                i{
                    background-position: -573px 1px !important;
                }
            }
        }
        &:hover{
            color:white !important;
            i{
                background-position: -571px -38px !important;
            }
        }
    }
}
.wheel-wrapper{
    .wheel{
        display: none;
        position: relative;
        &:after{
            content: ' ';
            display: block;
            width:28px; height:37px;
            background: url(images/icons/icon-sprite.png) no-repeat -511px 0;
            position: absolute;
            right:-20px;
            top: 50%;
            margin-top: -19px;
        }
    }
    .wheel-content{
        padding:0 0 10px;
        position: relative;
        .wheel-title{
            font-size:24px;
            color:#010101;
            margin:0 0 25px;
            line-height: 32px;
            width: 300px;
        }
        .item{
            .wheel-slide-title {
                font-size: 28px;
                position: relative;
                padding-left: 65px;
                margin: 0 0 18px;
                min-height: 66px;
                color: white;
                &:before {
                    position: absolute;
                    top: 10px;
                    left: 0;
                    content: ' ';
                    display: block;
                    width: 53px;
                    height: 53px;
                    background: url(images/icons/icon-sprite.png) no-repeat;
                    @include background-size(300px auto);
                }
                &.icon-seo{
                    padding-top: 16px;
                    &:before{
                    }
                }
                &.icon-media{
                    padding-top: 20px;
                    &:before{
                        background-position: -58px 0;
                    }
                }
                &.icon-website{
                    padding-top: 18px;
                    &:before{
                        background-position: -115px 0;
                    }
                }
                &.icon-social{
                    padding-top: 18px;
                    &:before{
                        background-position: -171px 0;
                    }
                }
                &.icon-branding{
                    padding-top: 20px;
                    &:before{
                        background-position: 0 -59px;
                    }
                }
                &.icon-creative{
                    &:before{
                        background-position: -1px -110px;
                        @include background-size(288px auto);
                        top: 5px;
                    }
                }
                &.icon-business{
                    font-size: 23px;
                    &:before{
                        background-position: -56px -58px;
                    }
                }
                &.icon-communication{
                    font-size: 23px;
                    max-width: 320px;
                    &:before{
                        background-position: -112px -57px;
                        top: 0;
                    }
                }
                &.icon-marketing{
                    padding-top: 18px;
                    &:before{
                        background-position: -172px -58px;
                    }
                }
                &.icon-research{
                    font-size: 22px;
                    padding-top: 10px;
                    max-width: 282px;
                    &:before{
                        background-position: -61px -118px;
                    }
                }
            }
            .wheel-slide-content{
                color: black;
                line-height: 22px;
                .vc_btn{
                    position: relative;
                    padding-left:36px;
                    margin-top: 20px;
                    &:before{
                        position: absolute;
                        top:11px;
                        left: 17px;
                        content: ' ';
                        display: block;
                        width:9px; height:15px;
                        background: url(images/icons/icon-sprite.png) no-repeat -592px -88px;
                    }
                }
            }
        }
        .wheel-pagination{
            a{
                text-indent: -999px;
                display: inline-block;
                background: url(images/icons/icon-sprite.png) no-repeat -493px -58px;
                width:18px;
                height:18px;
                overflow: hidden;
                margin: 10px 4px;
                &.active{
                    background-position: -526px -58px;
                }
            }
        }
        .wheel-link{
            color:white;
            position: relative;
            padding-left: 48px;
            padding-right: 20px;
            display: inline-block;
            height:39px;
            line-height: 39px;
            @include border-radius(10px 10px);
            &:before{
                position: absolute;
                top: 5px; left: 8px;
                content: ' ';
                display:block;
                width:29px; height:29px;
                background: url(images/icons/icon-sprite.png) no-repeat -571px -38px;
            }
            &:hover{
                text-decoration: none;
                background-color: #095760;
            }
        }
    }
}

.wheel-box{
    padding: 0 0 20px;
}

.contact-person-box{
    padding:30px 0;
}

.image-left-box{
    padding: 0 0 20px;
    .container .vc_column_container {
        &:first-child {
            margin-top: -18px;
        }
    }
}
.image-right-box{
    padding: 20px 0;
}

.clients-box{
    border-top: 7px solid #e5e5e5;
    padding: 30px 0;
    h2{
        color: #0a4c5c;
        margin-bottom:30px;
    }
    .partner-slider{
        .item{
            img{
                width: 120px;
                margin: 0 auto;
            }
        }
    }
    .clients-text{
        margin-top:30px;
    }
}

.contact-form-box{
    padding: 26px 0 20px;
    .cu-title{
        text-align: center;
        color: #fff;
    }
    .cu-left input{
        margin-bottom: 10px;
    }
    .cu-right textarea{
        height: 158px;
    }
    .cu-left, .cu-right{
        > span{
            display:block;
            span{
                font-size: 13px;
                position: absolute;
                top: 4px;
                padding: 10px 20px;
                right: 0;
            }
        }
        > br{
            display: none;
        }
    }
    .cu-bottom{
        text-align: center;
        margin-top: 18px;
        input{
            width: 100%;
        }
    }
    .wpcf7-response-output{
        float: left;
        color: #fff;
    }
}

.content-slider{
    &.slick-slider {
        margin: 0;
    }
    .cs-item-content{
        > *{
            margin-bottom: 20px;
        }
    }
    .item{
        padding: 0 50px;
        text-align: center;
        font-size: 16px;
        font-style: italic;
        line-height: 26px;
        color: #2D4243;
        ul{
            margin: 0;
            padding: 0;
            li{
                position: relative;
                padding-left:34px;
                margin-top: 15px;
                list-style: none;
                &:first-child{
                    margin-top: 0;
                }
                &:before{
                    position: absolute;
                    top: 0; left: 0;
                    content: ' ';
                    display:block;
                    width:22px; height:22px;
                    background: url(images/icons/icon-sprite.png) no-repeat -361px -23px;
                    background-size: 380px auto;
                }
            }
        }
        ol{
            li{
                margin-top: 15px;
                &:first-child{
                    margin-top: 0;
                }
            }
        }
    }
    .slick-dots{
        position: static;
        bottom: auto;
        padding: 10px 0;
        margin: 0;
        li{
            height: auto;
            width: auto;
            margin: 0;
            overflow: hidden;
            button{
                text-indent: -999px;
                display: inline-block;
                background: url(images/icons/icon-sprite.png) no-repeat -493px -177px;
                width:18px;
                height:18px;
                overflow: hidden;
                margin: 10px 4px;
            }
            &.slick-active{
                button{
                    background-position: -526px -177px;
                }
            }
        }
    }
}