












.footer{
    .logo-bottom{
        padding: 58px 0 32px;
        img{
            height: auto;
        }
    }
    .rabel-bottom {
        .navigation {
            .navbar-collapse {
                li{
                    padding:0 0 0 25px;
                }
            }
        }
    }
    .navbar-footer{
        .navbar-brand{
            a{
                margin-left:15px;
            }
        }
    }
}