/* clear */
.clearfix {
    *zoom:1;
    &:before{
        content: ' ';
        display: table;
    }
    &:after{
        content: ' ';
        display: table;
        clear: both;
    }
}
.textleft{
    text-align: left;
}
.textright{
    text-align: right;
}
.textcenter{
    text-align: center;
}
.floatleft{
    float: left !important;
}
.floatright{
    float: right !important;
}
img {
    max-width:100%;
    vertical-align:bottom;
}
a {
    color:#000;
    text-decoration:none;
    &:hover{
        outline: 0;
        color:#444;
    }
    &:focus, &:active{
        outline: 0;
    }
}

input[type="text"], input[type="email"], input[type="tel"]{
    background: #fff;
    height: 46px;
    line-height: 46px;
    width: 100%;
    padding: 0 16px;
    border: none;
}

input[type="submit"], input[type="button"], button{
    background: #0b4c4e;
    border: none;
    color: #fff;
    height: 46px;
    line-height: 46px;
    text-align: center;
    padding: 0 16px;
    font-weight: bold;
}

input:focus, textarea:focus {
    outline:0;
}

textarea{
    background: #fff;
    line-height: 24px;
    width: 100%;
    padding: 10px 16px;
    border: none;
}


.wrapper {
    font: 15px 'Opensans-Regular', sans-serif;
    @include background-image(linear-gradient(to right, #3db65b, #10b8ac, #10b0bf, #1899d1));
}
.vc_col-sm-6, .vc_col-sm-12{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
@media (min-width: 768px) {
    .wrapper {
        width: 1170px;
        font-size: 16px;
    }
    .vc_col-sm-6, .vc_col-sm-12{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}
@media (min-width: 1170px) {
    .wrapper {
        width: auto;
    }
}