/* header */
.header {
    .top-header {
        text-align: center;
        .logo{
            display: inline-block;
            margin: 142px 0 18px;
            padding-top: 8px;
        }
        .top-nav{
            position: absolute;
            top:0; left:0;
            width: 100%;
            height: 58px;
            padding: 7px 0 125px;
            border-bottom: 2px solid rgba(255,255,255,0.2);
            .navbar-social{
                position: absolute;
                width: 100%;
                top: 72px;
                border-top: 2px solid rgba(255,255,255,0.2);
                padding-top: 10px;
                a{
                    margin-left: 30px;
                    &:first-child{
                        margin-left: 0;
                    }
                }
            }
            .contact-us {
                margin-top:10px;
                a {
                    text-transform: uppercase;
                    display: inline-block;
                    color: white;
                    height: 43px;
                    line-height: 43px;
                    border: 1px solid white;
                    @include border-radius(10px, 10px);
                    padding: 0 14px 0 50px;
                    background: url(images/icons/icon-sprite.png) no-repeat -560px 8px rgba(0,0,0,0.2);
                    white-space: nowrap;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .navbar-header {
        background: #191919;
        color: white;
        margin-left: -15px;
        margin-right: -15px;
        .navbar-toggle {
            margin: 0;
            padding: 14px;
            span {
                background-color: white;
            }
        }
        .navbar-brand {
            height: 45px;
            line-height: 14px;
            color: white;
            font-size: 16px;
        }
    }

    .navigation{
        .navbar-collapse{
            position: absolute;
            width: 100%;
            background-color: white;
            z-index:100;
            margin-left: -15px;
            ul{
                margin:0 15px;
            }
            li{
                margin: 4px 0;
                border-top: 1px solid #b3b3b3;
                &:first-child{
                    border-top:none;
                }
                a{
                    padding:15px 15px 15px 0;
                    &:hover{
                        background: none;
                    }
                }
            }
        }
    }
}

article .vc_row{
    margin-left: 0;
    margin-right: 0;
}
.navbar-move.fixed{
    position: fixed;
    width: 100%;
    z-index: 1020;
    top: 0;
    left: 0;
    .navbar-header, .navigation .navbar-collapse{
        margin-left: 0;
        margin-right: 0;
    }
}
.navbar-fixed .header .top-header .logo{
    margin-bottom: 63px;
}

.navbar-social{
    a {
        display: inline-block;
        width: 38px;
        height: 38px;
        line-height: 42px;
        @include border-radius(38px, 38px);
        background-color: #0a5660;
        color: white;
        text-align: center;
        font-size: 18px;
        padding: 0;
        margin-left: 8px;
        &:hover {
            text-decoration: none;
            background-color: #02b6b7;
        }
    }
}

main{
    @include clearfix;
    &.has-sidebar{
        background: #fff;
        ~ footer{
            margin-top: 0;
            .logo-bottom{
                display: none;
            }
        }
        h1{
            font-size: 26px;
            font-weight: bold;
            border-bottom: 1px solid #e6e6e6;
            color: #065e61;
            padding: 0 0 10px;
            margin: 0 0 18px;
        }
        .pagination{
            border-top: 1px solid #e6e6e6;
            display: block;
            padding: 10px 0 30px;
            text-align: center;
            @include clearfix;
            a{
                color: #030303;
                text-decoration: none;
            }
            span{
                color:#777;
            }
            .page-numbers{
                padding: 0 3px;
                line-height: 36px;
            }
            .prev, .next{
                padding: 6px 15px;
                border-radius: 10px;
                line-height: inherit;
                &:hover{
                    background: #095760;
                    color: #fff;
                }
            }
            .prev{
                float: left;
            }
            .next{
                float: right;
            }
        }
        article{
            .blog-list{
                display: block;
                text-align: center;
                margin: 0 auto 20px;
                img{
                    @include border-radius(150px);
                    overflow: hidden;
                }
            }
            h2{
                font-family: Orbitron-Regular,sans-serif;
                font-size: 24px;
                margin: 0 0 5px;
                line-height: 26px;
                a{
                    color: #065e62;
                    &:hover{
                        text-decoration: none;
                        color: #04b6b7;
                    }
                }
            }
            .body{
                font-size: 15px;
                line-height: 23px;
            }
            .social{
                margin: 40px 0;
                span{
                    @include box-sizing(initial);
                }
            }
            .extra-links{
                border-top: 1px solid #e6e6e6;
                padding: 3px 0 30px;
                @include clearfix;
                a{
                    padding: 6px 15px;
                    border-radius: 10px;
                    line-height: inherit;
                    color: #050505;
                    text-decoration: none;
                    &:hover{
                        background: #095760;
                        color: #fff;
                    }
                }
                a[rel="prev"]{
                    float: left;
                }
                a[rel="next"]{
                    float: right;
                }
            }
            .date, .author, .categories{
                font-size: 13px;
            }
            .summary{
                font-size: 15px;
                margin: 15px 0 0;
                color: #03034f;
            }
            .view-article{
                text-decoration: none;
                margin: 0 0 30px;
                display: inline-block;
                padding: 0 15px 0 5px;
                height: 35px;
                line-height: 32px;
                white-space: nowrap;
                color: #2d4243;
                @include border-radius(10px);
                @include transition(background-color .1s linear);
                &:before {
                    content: ' ';
                    background: url(images/icons/icon-sprite.png) no-repeat -463px -102px;
                    background-size: 500px;
                    display: inline-block;
                    width: 29px;
                    height: 29px;
                    vertical-align: middle;
                    margin-right: 8px;
                }
                &:hover{
                    color: #fff;
                    background: #095760;
                    &:before{
                        background-position: -474px -31px;
                    }
                }
            }
        }
    }
}

.sidebar {
    .sidebar-widget {
        > div{
            margin: 30px 0 50px;
            ul {
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    font-size: 15px;
                    line-height: 18px;
                }
            }
        }
        h3{
            font: 23px Orbitron-Regular,sans-serif;
            margin: 0 0 10px;
            color: #065e62;
        }
        .widget_search {
            form{
                position: relative;
            }
            input{
                width: 100%;
                border: 1px solid #c7c7c7;
                height: 35px;
                line-height: 35px;
                padding: 0 35px 0 10px;
                @include border-radius(10px);
            }
            button{
                position: absolute;
                right: 0;
                top: 0;
                width: 40px;
                height: 35px;
                background: url(images/icons/icon-sprite.png) -268px -100px no-repeat;
                background-size: 300px;
                font-size: 0;
            }
        }
        .widget_recent_entries, .my_widget_recent_entries{
            color: #04b6b7;
            li{
                margin-top: 10px;
                padding-top: 10px;
                border-top: 1px solid #c7c7c7;
                &:first-child{
                    margin-top: 0;
                    padding-top: 0;
                    border-top: none;
                }
            }
            span{
                display: block;
                font-size: 14px;
                padding-top: 3px;
            }
            a{
                color: #2e0303;
            }
        }
        .widget_categories, .widget_archive{
            color: #2e0303;
            li{
                padding: 3px 0;
            }
            a{
                color: #04b6b7;
            }
        }
        .my_widget_social{
            display: none;
            .navbar-social{
                a{
                    &:first-child{
                        margin-left: 0;
                    }
                }
            }
        }
    }
}

/* footer */
.footer {
    margin-top: 30px;
    .logo-bottom{
        background-color: white;
        text-align: center;
        padding: 26px 0 24px;
        img{
            height: 70px;
        }
    }
    .rabel-bottom{
        background-color: black;
        position: relative;
        .navigation{
            .navbar-collapse{
                background-color: white;
                position: absolute;
                bottom: 68px;
                width: 100%;
                margin-left: -15px;
                margin-right: -15px;
                z-index: 90;
                ul{
                    margin-right: 15px;
                    margin-left: 15px;
                }
                li{
                    width: 50%;
                    float: left;
                    padding: 3px 0;
                    border-top:1px solid #b3b3b3;
                    &:nth-child(1), &:nth-child(2) {
                        border-top: none;
                    }
                    a{
                        padding: 15px 15px 15px 0;
                        &:hover{
                            text-decoration: underline;
                            background-color: inherit;
                        }
                    }
                }
            }
        }
    }
    .navbar-footer{
        margin-right:-15px;
        margin-left:-15px;
        padding: 3px 0;
        .navbar-brand{
            height: auto;
            padding: 12px 0 0 4px;
            a{
                background-color: #2f2f2f;
                &:hover{
                    background-color: #0fabaa;
                }
            }
        }
        .navbar-toggle{
            background-color: #191919;
            span {
                background-color: white;
            }
        }
    }
}