/* header */
.header {
    .top-header {
        text-align: center;
        .logo{
            display: inline-block;
            margin: 58px 0 18px;
            padding-top: 8px;
        }
        .top-nav{
            position: absolute;
            top:0; left:0;
            width: 100%;
            height: 58px;
            padding: 7px 0;
            border-bottom: 2px solid rgba(255,255,255,0.2);
            .navbar-social{
                float:right;
                margin: 3px 12px 0 0;
            }
            .contact-us {
                float: left;
                margin-left:12px;
                a {
                    text-transform: uppercase;
                    display: inline-block;
                    color: white;
                    height: 43px;
                    line-height: 43px;
                    border: 1px solid white;
                    @include border-radius(10px, 10px);
                    padding: 0 14px 0 50px;
                    background: url(images/icons/icon-sprite.png) no-repeat -560px 8px rgba(0,0,0,0.2);
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .navbar-header {
        background: #191919;
        color: white;
        .navbar-toggle {
            margin: 0;
            padding: 14px;
            span {
                background-color: white;
            }
        }
        .navbar-brand {
            height: 45px;
            line-height: 14px;
            color: white;
            font-size: 16px;
        }
    }

    .navigation{
        .navbar-collapse{
            position: absolute;
            width: 100%;
            margin-left: -15px;
            margin-right: -15px;
            background-color: white;
            z-index:100;
            ul{
                margin:0 15px;
            }
            li{
                margin: 4px 0;
                border-top: 1px solid #b3b3b3;
                &:first-child{
                    border-top:none;
                }
                a{
                    padding:15px 15px 15px 0;
                    &:hover{
                        background: none;
                    }
                }
            }
        }
    }
}

article .vc_row{
    margin-left: 0;
    margin-right: 0;
}

.navbar-social{
    a {
        display: inline-block;
        width: 38px;
        height: 38px;
        line-height: 42px;
        @include border-radius(38px, 38px);
        background-color: #0a5660;
        color: white;
        text-align: center;
        font-size: 18px;
        padding: 0;
        margin-left: 8px;
        &:hover {
            text-decoration: none;
            background-color: #02b6b7;
        }
    }
}

main{
    margin: 45px 0 0;
}

/* footer */
.footer {
    .logo-bottom{
        background-color: white;
        text-align: center;
        padding: 26px 0 24px;
        img{
            height: 70px;
        }
    }
    .rabel-bottom{
        background-color: black;
        position: relative;
        .navigation{
            .navbar-collapse{
                background-color: white;
                position: absolute;
                bottom: 56px;
                width: 100%;
                margin-left: -15px;
                margin-right: -15px;
                z-index: 90;
                ul{
                    margin-right: 15px;
                    margin-left: 15px;
                }
                li{
                    width: 50%;
                    float: left;
                    padding: 3px 0;
                    border-top:1px solid #b3b3b3;
                    &:nth-child(1), &:nth-child(2) {
                        border-top: none;
                    }
                    a{
                        padding: 15px 15px 15px 0;
                        &:hover{
                            text-decoration: underline;
                            background-color: inherit;
                        }
                    }
                }
            }
        }
    }
    .navbar-footer{
        margin-right:-15px;
        margin-left:-15px;
        padding: 3px 0;
        .navbar-brand{
            height: auto;
            padding: 5px 0 0 4px;
            a{
                background-color: #2f2f2f;
                &:hover{
                    background-color: #0fabaa;
                }
            }
        }
        .navbar-toggle{
            background-color: #191919;
            span {
                background-color: white;
            }
        }
    }
}