.header {
    .top-header{
        text-align: left;
        padding: 0 15px;
        .top-nav{
            position: relative;
            height:auto;
            width:auto;
            border-bottom:none;
            padding: 0;
            float:right;
            .navbar-social{
                float:none;
                margin: 22px 0 18px;
            }
            .contact-us{
                float:none;
                position: absolute;
                right: 0;
                bottom: -42px;
                a{
                    background-color: transparent;
                }
            }
        }
        .logo{
            margin:0;
            padding: 0;
            position: absolute;
            top:52px;
        }
    }
    .navbar-header{
        .navbar-brand{
            display: none;
        }
    }
    .navigation {
        .navbar-collapse{
            position: static;
            width: auto;
            background-color: inherit;
            margin: 0;
            li{
                border-top:none;
                text-transform: uppercase;
                font-size: 20px;
                &:last-child{
                    margin-right: 175px;
                }
                a{
                    padding: 0 15px 15px;
                    color:white;
                    height: 43px;
                    line-height: 43px;
                    &:hover{
                        background: none;
                    }
                }
            }
        }
    }
}

.footer{
    .logo-bottom{
        padding: 40px 0 28px;
        img{
            height: 80px;
        }
    }
    .rabel-bottom {
        .navigation {
            position: relative;
            .navbar-collapse {
                background-color: inherit;
                bottom:-60px;
                margin:0;
                width:auto;
                right: 0;
                ul{
                    margin: inherit;
                }
                li{
                    width: auto;
                    padding:0 0 0 15px;
                    border-top:none;
                    a{
                        padding: 15px 0;
                        color:white;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .navbar-footer {
        margin: 0;
        .navbar-brand {
            padding: 12px 0;
        }
    }
}

.wheel-wrapper{
    .wheel{
        display: block;
    }
    .wheel-content {
        padding-left: 60px;
        .item {
            .wheel-slide-title {
                &.icon-seo{
                    padding-top: 18px;
                }
                &.icon-media{
                    padding-top: 18px;
                }
                &.icon-creative{
                    padding-top: 18px;
                }
            }
        }
        .bx-pager {
            bottom: 15px;
            right: 20px;
            width: auto;
        }
        .wheel-link{
            bottom:10px;
        }
    }
}