.alignnone {
    margin:5px 20px 20px 0;
}
.alignright {
    float:right;
    margin:5px 0 20px 20px;
}
.alignleft {
    float:left;
    margin:5px 20px 20px 0;
}
a img {
    &.alignright {
        float: right;
        margin: 5px 0 20px 20px;
    }
    &.alignnone {
        margin:5px 20px 20px 0;
    }
    &.alignleft {
        float:left;
        margin:5px 20px 20px 0;
    }
}
.breadcrumb {
    padding: 0 0 30px;
    >li+li:before{
        padding: 0 6px;
    }
}
.header {
    .top-header{
        text-align: left;
        padding: 0 15px;
        .top-nav{
            position: relative;
            height:auto;
            width:auto;
            border-bottom:none;
            padding: 0;
            float:right;
            .navbar-social{
                margin: 22px 0 18px;
                position: static;
                width: auto;
                top: auto;
                border-top: none;
                padding-top: inherit;
                a{
                    margin-left: 8px;
                }
            }
            .contact-us{
                position: absolute;
                right: 0;
                bottom: -42px;
                a{
                    background-color: transparent;
                }
            }
        }
        .logo{
            margin:0;
            padding: 0;
            position: absolute;
            top:52px;
        }
    }
    .navbar-header{
        .navbar-brand{
            display: none;
        }
    }
    .navigation {
        .navbar-collapse{
            position: static;
            width: auto;
            background-color: inherit;
            margin: 0 0 10px;
            li{
                border-top:none;
                text-transform: uppercase;
                font-size: 20px;
                &:last-child{
                    margin-right: 175px;
                }
                a{
                    padding: 0 15px 15px;
                    color:white;
                    height: 43px;
                    line-height: 43px;
                    &:hover{
                        background: none;
                    }
                }
            }
        }
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes menudown {
    0%   {top: -60px;}
    100% {top: 0;}
}

/* Standard syntax */
@keyframes menudown {
    0%   {top: -60px;}
    100% {top: 0;}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes logodown {
    0%   {top: -65px;}
    100% {top: 5px;}
}

/* Standard syntax */
@keyframes logodown {
    0%   {top: -65px;}
    100% {top: 5px;}
}

.navbar-move.fixed{
    background-color: #000011;
    @include animation(menudown .5s);
    .navigation .navbar-collapse {
        width: 1170px;
        margin: 0 auto;
        ul{
            margin-right: 210px;
        }
        li {
            margin: 8px 2px;
        }
    }
}
.navbar-fixed {
    .header .top-header {
        margin-bottom: 51px;
        .logo {
            position: fixed;
            z-index: 1030;
            top: 5px;
            @include animation(logodown .5s);
            img {
                height: 45px;
            }
        }
        .top-nav .contact-us{
            position: fixed;
            z-index: 1040;
            top: 0;
            @include animation(menudown .5s);
            right: auto;
            bottom: auto;
            margin-top: 8px;
        }
    }
}

main{
    &.has-sidebar{
        padding: 20px 0;
        .container {
            > section {
                float: right;
                width: 826px;
                margin-right: 15px;
            }
            > aside {
                float: left;
                width: 260px;
                margin-left: 15px;
                border-right: 1px solid #e6e6e6;
                padding-right: 24px;
            }
        }
        h1{
            margin: 0 0 30px;
        }
        article{
            margin-top: 40px;
            @include clearfix;
            &.has-thumbnail{
                .summary{
                    margin: 7px 0 0 165px;
                }
                .title-area{
                    display: table-cell;
                    height: 145px;
                    vertical-align: middle;
                }
            }
            .blog-list{
                float: left;
                margin: 0 20px 15px 0;
            }
            h2{
                font-size: 32px;
                line-height: 34px;
            }
            .body{
                h1{
                    font-size: 26px;
                }
                h2{
                    font-size: 24px;
                    line-height: 29px;
                }
            }
            .extra-links{
                padding: 10px 5px 30px;
            }
            .date, .author, .categories{
                font-size: 14px;
            }
            .view-article{
                margin: 0 0 10px;
            }
        }
    }
}

.sidebar {
    .sidebar-widget {
        .my_widget_social{
            display: block;
        }
    }
}

.vc_row {
    h2{
        font-size: 42px;
    }
    h3{
        font-size:32px;
    }
    .wpb_button {
        margin-top: 30px !important;
    }
}

.wheel-wrapper{
    margin: 35px 0 45px;
    .wheel{
        display: block;
    }
    .wheel-content {
        padding-left: 60px !important;
        .wheel-title{
            font-size: 28px;
        }
        .item {
            .wheel-slide-title {
                font-size: 38px;
                padding-left: 80px;
                min-height: 82px;
                &:before {
                    width: 65px;
                    height: 65px;
                    @include background-size(356px auto);
                }
                &.icon-seo{
                    padding-top: 16px;
                    &:before{
                    }
                }
                &.icon-media{
                    padding-top: 20px;
                    &:before{
                        background-position: -68px 0;
                    }
                }
                &.icon-website{
                    padding-top: 18px;
                    &:before{
                        background-position: -135px 0;
                    }
                }
                &.icon-social{
                    padding-top: 18px;
                    &:before{
                        background-position: -203px 0;
                    }
                }
                &.icon-branding{
                    padding-top: 20px;
                    &:before{
                        background-position: 0 -69px;
                    }
                }
                &.icon-creative{
                    padding-top: 20px;
                    &:before{
                        background-position: -1px -135px;
                        @include background-size(355px auto);
                        top: 5px;
                    }
                }
                &.icon-business{
                    font-size: 28px;
                    padding-top: 10px;
                    &:before{
                        background-position: -68px -68px;
                    }
                }
                &.icon-communication{
                    font-size: 36px;
                    max-width: 420px;
                    &:before{
                        background-position: -132px -68px;
                        top: 9px;
                    }
                }
                &.icon-marketing{
                    padding-top: 18px;
                    &:before{
                        background-position: -205px -67px;
                    }
                }
                &.icon-research{
                    font-size: 34px;
                    padding-top: 10px;
                    max-width: 420px;
                    &:before{
                        background-position: -70px -134px;
                        @include background-size(362px auto);
                    }
                }
            }
        }
        .wheel-pagination{
            position: absolute;
            bottom: 82px;
            right: 15px;
        }
        .wheel-link{
            margin-top:30px;
        }
    }
}

.wheel-box{
    padding: 0 0 30px;
}

.contact-person-box{
    padding:40px 0 50px;
}

.image-left-box{
    padding: 0;
    .container .vc_column_container {
        &:first-child {
            margin-top: -25px;
        }
        &:last-child{
            padding-top: 60px;
        }
    }
}

.image-right-box{
    padding: 72px 0 45px;
    .container .vc_column_container:first-child{
        float: right;
    }
}

.clients-box{
    padding: 40px 0;
    text-align: center;
    h2{
        margin-bottom:40px;
        text-transform: uppercase;
    }
    .partner-slider{
        .item{
            img{
                width: auto;
            }
        }
        .slick-slider{
        }
    }
    .clients-text{
        margin-top:40px;
        padding: 0 80px;
    }
    .vc_carousel {
        ol.vc_carousel-indicators {

        }
        .vc_item{
            .entry-content {
                padding: 15px 120px 0;
                font-size: 18px;
            }
        }
    }
}

.contact-form-box{
    padding: 26px 0;
    .cu-title{
        text-align: center;
        color: #fff;
    }
    .cu-left, .cu-right{
        > span span{
            font-size: 16px;
            top: 2px;
        }
    }
    .cu-bottom{
        padding-top: 30px;
        input{
            min-width: 300px;
            width: auto;
        }
    }
    .wpcf7-response-output{
        position: absolute;
        bottom: 42px;
        left: 22px;
    }
}

.content-slider{
    .cs-item-content{
        > *{
            margin-bottom: 15px;
        }
    }
    .item{
        padding: 0 120px;
        font-size: 18px;
        ul{
            li{
                padding-right:20px;
            }
        }
        ol{
            li{
                padding-right:20px;
            }
        }
    }
}

.footer{
    .logo-bottom{
        padding: 40px 0 28px;
        img{
            height: 80px;
        }
    }
    .rabel-bottom {
        .navigation {
            position: relative;
            .navbar-collapse {
                background-color: inherit;
                bottom:-60px;
                margin:0;
                width:auto;
                right: 0;
                ul{
                    margin: inherit;
                }
                li{
                    width: auto;
                    padding:0 0 0 15px;
                    border-top:none;
                    a{
                        padding: 15px 0;
                        color:white;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .navbar-footer {
        margin: 0;
        .navbar-brand {
            padding: 12px 0;
        }
    }
}